.sidebar
  %div{ :style => "font-weight: bold" }bolded: this metric is matched by the query and will be graphed.
  %br
  %div <u>underlined</u>: this metric is still valid to add to the query given the other constraints. (may also be bolded and matched/graphed.)
  %br
  %div{ :style => "color: grey" }greyed: this metric will not be plotted and is invalid to add to the query given the other constraints.
  %br
  %div Values for Host, Plugin, Type, and Data Source may be any (Perl/Ruby) regex. e.g. <tt>s[\d].dotspots.com</tt> or <tt>read|write</tt>. Note that the regex must FULLY match a given term - e.g. <tt>val</tt> is not sufficient to match <tt>value</tt>, you must use <tt>val.*</tt> (etc).
